body{
	margin:0;
	color:#ffffff;
	background:rgba(200,200,200,1);
/*	font:600 16px/18px 'Open Sans',sans-serif;*/
}


.head-tab{
  display: flex;
	background-color: white;/*rgba(180,180,180,.5);*/
	height: 30px;
	width: 100%;
  margin: 0 0;
}
.button{
  height: 30px;
  border: 0 solid white;
  width: 80px;
  background-color: white;
}
.left-tab{
  float: left;
  height: 500px;
  width: 15%;
  background-color: rgba(0, 0, 0, 0.5);
}
.group{
  height: 200px;
  width: 300px;
  margin: auto auto;
}
