body{
	margin:0;
	color:#ffffff;
	background:rgba(200,200,200,1);
/*	font:600 16px/18px 'Open Sans',sans-serif;*/
}

.head-tab{
  display: flex;
	background-color: rgba(10,10,10,.8);
	height: 50px;
	width: 100%;
/*  margin: 0 0;*/
}
.button{
  height: 30px;
  width: auto;
	border-width: inherit;
/*  background-color: white;*/
	background-color: rgba(10,10,10,.0);
	color: silver;
	font-size: 15px;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 10px;
	margin-left:10px;
}
.left-tab{
  float: left;
  height: 500px;
  width: 15%;
  background-color: rgba(0, 0, 0, 0.5);
}
.picture{
  height: 200px;
  width: 300px;
  margin: auto auto;
}
.select-box{
	display: flex;
	height: 50px;
	width: 100%;
	background-color: white;
	font-size: 15px;
	color:white;
	/*padding: 10px 10px;*/
}
.tag{
	background-color: rgba(100,100,100,100.7);
	color:silver;
	width: 70px;
	margin: 10px 10px;
	height: 30px;
	border-width: inherit;
	border-radius: 3px;
}
.inputBox{
	border-radius: 3px;
	background-color:rgba(200,200,200,.3);
	height: 30px;
	font-size: 15px;
	width: 500px;
	margin: 10px 30px;
}
.submit-button{
	background-color:silver;
	color:white;
	margin-left:-10px;
	height:40px;
	border-radius: 3px;
	border-width: inherit;
	margin-top: 8px;
}
